*.pyc
/__pycache__
Hire-Track/hiretrack/user/migrations
Hire-Track/hiretrack/Screenshot_from_2024-06-10_11-09-24_erUJCJp.png
Hire-Track/hiretrack/Screenshot_from_2024-06-10_11-09-24_qgeMTdt.png
Hire-Track/hiretrack/Screenshot_from_2024-06-10_11-09-24.png